$snow: #fffbfeff;
$gray-web: #7a7d7dff;
$light-gray: rgba(208, 207, 207, 0.25);
$dark-liver: #565254ff;
$white: #ffffffff;
$ash-gray: #c9cebdff;
$ash-gray-2: #b2bcaaff;
$xanadu: #838e83ff;
$dim-gray: #6c6061ff;
$rose-ebony: #64403eff;
$persian-orange: #db995aff;
$liver: #654236ff;
$pale-spring-bud: #d6d4a0ff;
$chocolate-web: #da7635ff;
$flame: #e24e1bff;
$error-red: #ED4337D8;

$small-breakpoint :576px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$extra-large-breakpoint: 1200px;

